html,
body {
  padding: 0;
  margin: 0;
  background-color: #ccc;

  font-family: "Roboto", sans-serif;
}

.headerTollbar {
  margin-bottom: 40px;
}

.container {
  padding: 0 2rem;
}

.toolbarTitle {
  letter-spacing: 2px !important;
  font-family: "Lexend", sans-serif;
  color: rgb(87, 87, 87) !important;
  transition: 2s color;
}

a {
  text-decoration: none !important;
  .titleCadastro {
    font-family: 'Lexend', sans-serif;
  }
} 
